# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/

# Environment variables
.env

# IDEs
.vscode/
.idea/

# OS files
.DS_Store

# data (raw + processed large outputs)
app/data/**

# Unignore the directories needed to reach the files
!app/data/
!app/data/processed/

# Unignore the specific files
!app/data/processed/faiss.index
!app/data/processed/meta.jsonl

# Logs
*.log